<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro de produtos</title>
</head>
<body>
    <main>
        <form action="/cadastroProduto" method="POST">
            <label >Nome do produto</label>
            <input type="text" name="nome" id="" />
            <label >Descrição do produto</label>
            <input type="text" name="descricao" id="" />
            <label >Link da imagem produto</label>
            <input type="text" name="imagem" id="" />
            <button type="submit">Finalizar o cadastro</button>
        </form>
    </main>
    
</body>
</html>