<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin agencia devHouse</title>
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>40028922</td>
                    <td>site incrivel</td>
                    <td>
                        <button>excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>